@import "https://unpkg.com/open-props";

@font-face {
  font-family: avenirnextcyr;
  font-display: swap;
  src: url("../fonts/avenirnextcyr-bold.woff2") format("woff2"), url("../fonts/avenirnextcyr-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: avenirnextcyr;
  font-display: swap;
  src: url("../fonts/avenirnextcyr-medium.woff2") format("woff2"), url("../fonts/avenirnextcyr-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Circe;
  font-display: swap;
  src: url("../fonts/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Circe;
  font-display: swap;
  src: url("../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body,
html {
  font-family: Circe, serif;
  font-weight: 400;
  position: relative;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  font-family: "Avenir Next Cyr", serif;
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 130%;
  color: #000000;
}

.hidden {
  display: none;
}

.no-webp .header{
  background-image: url(../img/headerbg.jpeg); }

.header {
  background-size: cover;
}

.header__shop-btn {
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  line-height: 127%;
  text-transform: uppercase;
  color: #FFFFFF;
  border-bottom: 2px dashed #FFFFFF;
}

.header__shop-btn:after {
  content: url(../img/downarrow.png);
  margin-left: 5px;
  vertical-align: middle;
}

.header__phone {
  font-family: "Avenir Next Cyr";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #FFFFFF;
}

.header__phone:before {
  content: url(../img/phone.png);
  vertical-align: middle;
  margin-right: 10px;
  height: 26px;
  width: 20px;
}

.header__content {
  margin-top: 120px;
}

.header__content-list {
  margin-top: 30px;
  list-style: none;
}

.header__item {
  font-family: "Circe";
  font-weight: 400;
  font-size: 20px;
  line-height: 173%;
  color: rgba(255, 255, 255, 0.75);
}

.header__btn {
  border-radius: 7px;
  background-color: #4BCF84;
  padding: 15px 80px;
  color: #FFFFFF;
  border: none;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 160%;
  width: 100%;
}

.header__btn:hover {
  background-color: #1DAF7F;
  color: #FFFFFF;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header__btn-simple {
  border-radius: 7px;
  background-color: transparent;
  padding: 15px 80px;
  color: #FFFFFF;
  border: 1px solid #4BCF84;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 160%;
  margin-top: 25px;
}

.header__btn-simple:hover {
  background-color: #4BCF84;
  color: #FFFFFF;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header__info {
  margin-top: 106px;
}

.header__action {
  margin-top: 120px;
  padding: 25px;
}

.header__items-text-small {
  font-family: "Circe";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}

.header__items-text {
  font-family: "Circe";
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  color: #FFFFFF;
}

.header__btn-action {
  border-radius: 7px;
  background-color: transparent;
  padding: 10px 44px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 160%;
}

.header__btn-action:hover {
  background-color: #FFFFFF;
  color: #EE543F;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header .container-red {
  background-color: #EE543F;
}

.header .advantages__title {
  font-family: "Circe";
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.75);
}

.header .advantages__text {
  font-family: "Circe";
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
}

.title-header {
  color: #FFFFFF;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.wrapper__modal,
.wrapper__modal-calc,
.wrapper__modal-order {
  height: 100%;
  width: 100%;
  display: none;
}

.wrapper__modal.active,
.wrapper__modal-calc.active,
.wrapper__modal-order.active {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  background: #B0B0B0;
}

.modal__window-item {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 777px;
  max-height: 451px;
  background: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 50px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.modal__content {
  background: #ffffff;
}

.modal__title {
  font-family: "Circe";
  font-weight: 700;
  font-size: 33px;
  line-height: 130.5%;
  color: #000000;
}

.modal__list {
  list-style-type: none;
}

.modal__item {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 130.5%;
  color: rgba(0, 0, 0, 0.7);
}

.modal__item::before {
  content: url(../img/eclipselist.png);
  width: 13px;
  height: 13px;
  margin-right: 14px;
  vertical-align: middle;
}

.btn__popup-close {
  border-radius: 7px;
  background-color: #4BCF84;
  padding: 13px 66px;
  color: #FFFFFF;
  border: none;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 160%;
}

.btn__popup-close:hover {
  background-color: #1DAF7F;
  color: #FFFFFF;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.modal__window-item-one {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 513px;
  max-height: 674px;
  background: white;
  padding: 50px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  -webkit-animation: var(--animation-slide-in-down) forwards;
          animation: var(--animation-slide-in-down) forwards;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.modal__title-calc {
  font-weight: 700;
  font-size: 26px;
  line-height: 130%;
  margin-bottom: 40px;
}

.form__calc input {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 7px;
  padding: 15px;
}

.form__calc input::-webkit-input-placeholder {
  font-family: "Circe";
  font-weight: 700;
  font-size: 14px;
  line-height: 116%;
}

.form__calc input::-moz-placeholder {
  font-family: "Circe";
  font-weight: 700;
  font-size: 14px;
  line-height: 116%;
}

.form__calc input:-ms-input-placeholder {
  font-family: "Circe";
  font-weight: 700;
  font-size: 14px;
  line-height: 116%;
}

.form__calc input::-ms-input-placeholder {
  font-family: "Circe";
  font-weight: 700;
  font-size: 14px;
  line-height: 116%;
}

.form__calc input::placeholder {
  font-family: "Circe";
  font-weight: 700;
  font-size: 14px;
  line-height: 116%;
}

.form__calc input:focus {
  background: #ffe;
  border: 1px solid #4C8FF5 !important;
}

.btn__popup-close-form {
  margin-top: 25px;
  border-radius: 7px;
  background-color: #4BCF84;
  padding: 13px 66px;
  color: #FFFFFF;
  border: none;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 160%;
}

.btn__popup-close-form:hover {
  background-color: #1DAF7F;
  color: #FFFFFF;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.information {
  background: #F7FAFC;
}

.information__text-title {
  font-weight: 400;
  font-size: 23px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.61);
}

.information__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
  margin-top: 30px;
}

.information__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.61);
  margin-top: 16px;
}

.information__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 144%;
  color: #4C8FF5;
}

.col,
.col-4 {
  background: #FFFFFF;
  border-radius: 9px;
  -webkit-transition: 0.6s ease-out;
  -o-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.col:hover,
.col-4:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.provider__text {
  font-weight: 400;
  font-size: 23px;
  line-height: 130.5%;
  color: rgba(0, 0, 0, 0.61);
}

.provider__item-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  color: #4C8FF5;
}

.provider__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.61);
}

.provider__content-rub {
  font-weight: 700;
  font-size: 30px;
  line-height: 144%;
  color: #4C8FF5;
}

.rates__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
}

.rates__way {
  background: -o-linear-gradient(184.88deg, #1831B6 0%, #940499 100%);
  background: linear-gradient(265.12deg, #1831B6 0%, #940499 100%);
  border-radius: 9px;
  padding: 47px 0 40px;
}

.rates__links {
  margin-top: 57px;
}

.rates__link {
  font-weight: 700;
  font-size: 28px;
  line-height: 135%;
  color: rgba(255, 255, 255, 0.75);
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.rates__link:hover {
  color: #F46A5B;
}

.full__rates-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  color: #000000;
}

.full__rates-subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.61);
}

.form__rates-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 130.5%;
  color: #FFFFFF;
}

.form__rates-title-small {
  font-weight: 400;
  font-size: 28px;
  line-height: 130.5%;
  color: #FFFFFF;
}

.form__rates-price {
  font-weight: 700;
  font-size: 32px;
  line-height: 130.5%;
  color: #FFFFFF;
}

.form__rates-price-small {
  font-weight: 400;
  font-size: 16px;
  line-height: 130.5%;
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.75);
}

.form__rates-discount {
  font-weight: 400;
  font-size: 18px;
  line-height: 130.5%;
  color: rgba(255, 255, 255, 0.75);
}

.form__rates-input {
  padding: 10px 16px;
  width: 268px;
  height: 41px;
  background: #4C8FF5;
  border: 1px solid rgba(255, 255, 255, 0.74);
  border-radius: 7px;
}

.form__rates-input::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 116%;
  color: rgba(255, 255, 255, 0.75);
}

.form__rates-input::-moz-placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 116%;
  color: rgba(255, 255, 255, 0.75);
}

.form__rates-input:-ms-input-placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 116%;
  color: rgba(255, 255, 255, 0.75);
}

.form__rates-input::-ms-input-placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 116%;
  color: rgba(255, 255, 255, 0.75);
}

.form__rates-input::placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 116%;
  color: rgba(255, 255, 255, 0.75);
}

.form__rates-input:focus {
  background: rgb(147, 212, 228);
  color: rgba(0, 0, 0, 0.61);
}

.btn {
  border-radius: 7px;
  background-color: #EE543F;
  padding: 8px 60px;
  color: #FFFFFF;
  border: none;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 160%;
}

.btn:hover {
  background-color: #F46A5B;
  color: #FFFFFF;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.form__rates-color {
  padding: 31px 50px;
  background: #4C8FF5;
  border-radius: 7px;
}

.questions__conteiner {
  background: rgba(76, 143, 245, 0.94);
}

.questions__title {
  font-weight: 800;
  font-size: 50px;
  line-height: 127%;
  color: #FFFFFF;
}

.questions__price-piece {
  font-weight: 700;
  font-size: 12px;
  line-height: 116%;
  color: rgba(255, 255, 255, 0.75);
}

.questions__price-price {
  font-weight: 700;
  font-size: 56px;
  line-height: 116%;
  color: #FFFFFF;
}

.questions__price-price-small {
  text-decoration: line-through;
  font-weight: 400;
  font-size: 20px;
  line-height: 116%;
  vertical-align: middle;
}

.questions__price-price-green {
  font-weight: 700;
  font-size: 15px;
  line-height: 124%;
  color: #FFFFFF;
  background-color: #4BCF84;
  padding: 3px 7px;
}

.questions__block {
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.41);
  border-radius: 7px;
  padding: 19px 52px 22px;
  margin-top: 80px;
}

.questions__price-economy-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 116%;
}

.questions__price-economy-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 121%;
}

.questions__form {
  margin-bottom: 30px;
  width: 430px;
  height: 521px;
  padding: 50px;
  background: #FFFFFF;
  border-radius: 7px;
}

.questions__form-input {
  width: 100%;
  padding: 15px 22px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 7px;
}

.questions__form-input::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 116%;
  color: rgba(0, 0, 0, 0.4);
}

.questions__form-input::-moz-placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 116%;
  color: rgba(0, 0, 0, 0.4);
}

.questions__form-input:-ms-input-placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 116%;
  color: rgba(0, 0, 0, 0.4);
}

.questions__form-input::-ms-input-placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 116%;
  color: rgba(0, 0, 0, 0.4);
}

.questions__form-input::placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 116%;
  color: rgba(0, 0, 0, 0.4);
}

.questions__btn {
  border-radius: 7px;
  background-color: #EE543F;
  padding: 15px 75px;
  color: #FFFFFF;
  border: none;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 160%;
  width: 100%;
  font-size: 16px;
  line-height: 116%;
}

.questions__btn:hover {
  background-color: #F46A5B;
  color: rgba(255, 255, 255, 0.75);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.questions__btn-consultation {
  border-radius: 7px;
  background-color: transparent;
  padding: 15px 75px;
  color: #FFFFFF;
  border: 1px solid #EE543F;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 160%;
  width: 100%;
  font-size: 16px;
  line-height: 116%;
  color: #EE543F;
}

.questions__btn-consultation:hover {
  background-color: #F46A5B;
  color: rgba(255, 255, 255, 0.75);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.questions__form-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 116%;
  color: rgba(0, 0, 0, 0.5);
}

.questions__form-text a {
  color: rgba(0, 0, 0, 0.5);
}

.questions__item {
  list-style-type: none;
  color: #FFFFFF;
  margin-bottom: 38px;
}

.questions__item:first-child::before {
  content: url(../img/questions/shield.png);
}

.questions__item:nth-child(2)::before {
  content: url(../img/questions/wallet.png);
}

.questions__item:last-child::before {
  content: url(../img/questions/question.png);
}

.questions__list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 116%;
}

.questions__list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 124%;
}

.tabs__items {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  cursor: pointer;
}

.tabs__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  color: #000000;
}

.tabs__text {
  font-weight: 400;
  font-size: 23px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.7);
}

.tabs-nav__item {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
}

.tabs-nav__item.is-active {
  color: #4C8FF5;
  border-color: #4C8FF5;
}

.tab {
  background-color: #f2f2f2;
  display: none;
  padding: 20px;
}

.tab.is-active {
  display: block;
}

.busines__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #000000;
  margin-top: 55px;
}

.busines__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin-top: 20px;
}

.answers__btn-all {
  border-radius: 7px;
  background-color: #1DAF7F;
  padding: 11px 53px;
  color: #FFFFFF;
  border: none;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 160%;
}

.answers__btn-all:hover {
  background-color: #4BCF84;
  color: #FFFFFF;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.accordion-item {
  border: 1px solid #4C8FF5;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 5px 9px rgba(135, 135, 135, 0.25);
          box-shadow: 0px 5px 9px rgba(135, 135, 135, 0.25);
  border-radius: 7px;
}

.accordion-item-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: url(../img/arrow.png);
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.accordion-item-header.active::after {
  content: url(../img/arrow.png);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion-item-body {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.73);
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.footer {
  padding: 30px;
  background: rgba(76, 143, 245, 0.94);
}

.footer__address {
  font-weight: 400;
  font-size: 16px;
  line-height: 159%;
  color: #FFFFFF;
}

.webp .header{ background-image: url(../img/headerbg.webp); }